workflows/wag-chat-ingest.json
{
  "id": "wagIngest0000001",
  "name": "WAG Chat — Ingest (webhook → Postgres)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wag-incoming",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "ig-webhook",
      "name": "go-wa Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "wag-incoming-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Map go-wa webhook payload -> flat columns. go-wa sends { event, payload:{…} }\n// and n8n's Webhook node wraps the POST body under .body. Unwrap both, then read\n// the message fields. Fallbacks cover older/flat go-wa shapes. Full go-wa object\n// kept in `raw` so you can adjust mappings if your version differs.\nconst root = $json.body ?? $json;\nconst p = root.payload ?? root;\n\nconst chat_jid =\n  p.chat_id || p.chatId || p.chatID ||\n  (typeof p.from === 'string' && p.from.includes('@g.us') ? p.from : '') || '';\nconst sender_jid = p.from || p.sender_id || p.senderId || p.participant || '';\nconst sender_name = p.from_name || p.pushname || p.push_name || p.sender_name || p.notify || 'Unknown';\n\nlet media_type = null;\nif (p.image) media_type = 'image';\nelse if (p.video) media_type = 'video';\nelse if (p.audio) media_type = 'audio';\nelse if (p.document) media_type = 'document';\nelse if (p.sticker) media_type = 'sticker';\nelse if (p.location) media_type = 'location';\n\nconst caption =\n  (p.image && p.image.caption) || (p.video && p.video.caption) ||\n  (p.document && p.document.caption) || '';\nconst text =\n  p.body || p.text || p.caption ||\n  (p.message && (p.message.text ?? p.message.conversation)) || caption || '';\nconst message = media_type && !text ? '[' + media_type + ']' : text;\n\nconst message_id = p.id || (p.message && p.message.id) || null;\n\n// go-wa timestamp may be Unix seconds, Unix ms, or an ISO string. Parse robustly\n// (a raw Unix-seconds number through new Date() would land in 1970 and break the\n// \"today\" filter). Fall back to now on anything unparseable.\nlet ts;\nconst rawTs = p.timestamp;\nif (rawTs === null || rawTs === undefined || rawTs === '') {\n  ts = new Date().toISOString();\n} else if (typeof rawTs === 'number' || /^\\d+$/.test(String(rawTs))) {\n  const n = Number(rawTs);\n  ts = new Date(n < 1e12 ? n * 1000 : n).toISOString();\n} else {\n  const d = new Date(rawTs);\n  ts = isNaN(d.getTime()) ? new Date().toISOString() : d.toISOString();\n}\n\nreturn [{ json: {\n  message_id: message_id || null,\n  chat_jid, sender_jid, sender_name, message, media_type,\n  is_group: String(chat_jid).endsWith('@g.us'),\n  timestamp: ts,\n  raw: JSON.stringify(root),\n} }];"
      },
      "id": "ig-normalize",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c-grp",
              "leftValue": "={{ $json.is_group }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "c-msg",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ig-if",
      "name": "Group message with text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO wag_messages\n  (message_id, chat_jid, sender_jid, sender_name, message, media_type, is_group, \"timestamp\", raw)\nVALUES ($1,$2,$3,$4,$5,$6,$7,$8,$9)\nON CONFLICT (message_id) DO NOTHING",
        "options": {
          "queryReplacement": "={{ [ $json.message_id, $json.chat_jid, $json.sender_jid, $json.sender_name, $json.message, $json.media_type, $json.is_group, $json.timestamp, $json.raw ] }}"
        }
      },
      "id": "ig-insert",
      "name": "Upsert Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        680,
        -40
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_CRED_ID",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "go-wa Webhook": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Group message with text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group message with text?": {
      "main": [
        [
          {
            "node": "Upsert Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jakarta"
  },
  "pinData": {}
}