workflows/wag-daily-summary.json
{
  "id": "wagSummary000001",
  "name": "WAG Chat — Daily Summary (23:00 WIB, all groups)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "su-sched",
      "name": "Every day 23:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT chat_jid, project_name, send_to\nFROM wag_groups\nWHERE active = true\nORDER BY chat_jid",
        "options": {}
      },
      "id": "su-groups",
      "name": "Get Active Groups",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        20,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_CRED_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "su-loop",
      "name": "Loop Over Groups",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT sender_name, message, \"timestamp\"\nFROM wag_messages\nWHERE chat_jid = '{{ $json.chat_jid }}'\n  AND (\"timestamp\" AT TIME ZONE 'Asia/Jakarta') >= date_trunc('day', now() AT TIME ZONE 'Asia/Jakarta')\n  AND (\"timestamp\" AT TIME ZONE 'Asia/Jakarta') <  date_trunc('day', now() AT TIME ZONE 'Asia/Jakarta') + interval '1 day'\nORDER BY \"timestamp\" ASC",
        "options": {}
      },
      "id": "su-msgs",
      "name": "Get Today's Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        460,
        120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_CRED_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build transcript + exact stats + LLM prompt for the CURRENT group.\nconst MAX_CHARS = 40000; // guardrail for very high-volume days\nconst rows = $input.all().map(i => i.json)\n  .filter(r => r && String(r.message ?? '').trim().length > 0);\nconst g = $('Loop Over Groups').first().json;\n\nconst total = rows.length;\nconst members = [...new Set(rows.map(r => r.sender_name).filter(Boolean))];\n\nconst pad = n => String(n).padStart(2, '0');\nconst months = ['Januari','Februari','Maret','April','Mei','Juni','Juli',\n                'Agustus','September','Oktober','November','Desember'];\nconst jak = new Date(new Date().toLocaleString('en-US', { timeZone: 'Asia/Jakarta' }));\nconst dateStr = pad(jak.getDate()) + ' ' + months[jak.getMonth()] + ' ' + jak.getFullYear();\n\nlet transcript = rows.map(r => {\n  const t = new Date(r.timestamp).toLocaleTimeString('id-ID',\n    { hour: '2-digit', minute: '2-digit', timeZone: 'Asia/Jakarta' });\n  return '[' + t + '] ' + (r.sender_name || 'Unknown') + ': ' + r.message;\n}).join('\\n');\n\nlet truncated = false;\nif (transcript.length > MAX_CHARS) { transcript = transcript.slice(-MAX_CHARS); truncated = true; }\n\nconst prompt =\n`Kamu adalah asisten yang merangkum percakapan grup WhatsApp dalam Bahasa Indonesia.\nBerdasarkan transkrip, hasilkan dua daftar: \"topics\" (topik yang dibahas) dan\n\"action_items\" (keputusan/tugas/hal yang harus ditindaklanjuti, sebutkan penanggung\njawab bila ada). Setiap item satu kalimat ringkas. Gabungkan pesan sejenis menjadi satu\ntopik. Jangan mengarang hal yang tidak ada di transkrip.\n${truncated ? '(Catatan: sebagian pesan paling awal dipotong karena volume besar.)\\n' : ''}\nTranskrip:\n${transcript}`;\n\nreturn [{ json: {\n  chat_jid: g.chat_jid, project_name: g.project_name, send_to: g.send_to,\n  total, memberCount: members.length, memberList: members.join(', '), dateStr, prompt,\n} }];"
      },
      "id": "su-build",
      "name": "Build Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c-any",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "su-if",
      "name": "Any messages today?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        120
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "hasOutputParser": true
      },
      "id": "su-chain",
      "name": "Summarize (LLM Chain)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1120,
        20
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "su-model",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1080,
        240
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_WITH_GEMINI_CRED_ID",
          "name": "Google Gemini (PaLM) API"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"topics\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"action_items\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\n    \"topics\",\n    \"action_items\"\n  ]\n}"
      },
      "id": "su-parser",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1280,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Deterministically render the final message from the chain's structured output + DB stats.\n// The Basic LLM Chain + Structured Output Parser returns the parsed object at $json.output.\nlet topics = [], actions = [];\ntry {\n  const out = $json.output || {};\n  topics = out.topics || [];\n  actions = out.action_items || [];\n} catch (e) {}\n\nconst bt = $('Build Transcript').first().json;\nconst ts = topics.length ? topics.map(t => '- ' + t).join('\\n') : '- (tidak ada)';\nconst as = actions.length ? actions.map(a => '- ' + a).join('\\n') : '- (tidak ada)';\n\nconst message =\n  bt.project_name + ' Daily Summary\\n' +\n  '📅 ' + bt.dateStr + '\\n\\n' +\n  'Topik Dibahas:\\n' + ts + '\\n\\n' +\n  'Pesan Penting / Action Items:\\n' + as + '\\n\\n' +\n  'Statistik:\\n' +\n  '- Total pesan: ' + bt.total + '\\n' +\n  '- Anggota aktif: ' + bt.memberCount + ' orang (' + bt.memberList + ')';\n\nconst status = (topics.length || actions.length) ? 'success' : 'error';\nreturn [{ json: { chat_jid: bt.chat_jid, phone: bt.send_to, message, status,\n                  total: bt.total, memberCount: bt.memberCount } }];"
      },
      "id": "su-render",
      "name": "Render Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "const bt = $('Build Transcript').first().json;\nconst message =\n  bt.project_name + ' Daily Summary\\n' +\n  '📅 ' + bt.dateStr + '\\n\\n' +\n  'Tidak ada aktivitas chat pada hari ini.';\nreturn [{ json: { chat_jid: bt.chat_jid, phone: bt.send_to, message,\n                  status: 'empty', total: 0, memberCount: 0 } }];"
      },
      "id": "su-noact",
      "name": "No Activity Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.GOWA_BASE_URL || 'http://localhost:3000').replace(/\\/$/, '') }}/send/message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone, message: $json.message }) }}",
        "options": {}
      },
      "id": "su-send",
      "name": "Send via go-wa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        120
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_GOWA_BASIC_CRED_ID",
          "name": "go-wa basic auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO wag_summaries (chat_jid, summary_date, message_count, member_count, status, summary_text)\nVALUES ($1, (now() AT TIME ZONE 'Asia/Jakarta')::date, $2, $3, $4, $5)\nON CONFLICT (chat_jid, summary_date) DO UPDATE SET\n  message_count = EXCLUDED.message_count,\n  member_count  = EXCLUDED.member_count,\n  status        = EXCLUDED.status,\n  summary_text  = EXCLUDED.summary_text,\n  created_at    = now()",
        "options": {
          "queryReplacement": "={{ [ $json.chat_jid, $json.total, $json.memberCount, $json.status, $json.message ] }}"
        }
      },
      "id": "su-log",
      "name": "Log Summary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1780,
        120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_CRED_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "id": "su-done",
      "name": "All Groups Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        460,
        -80
      ]
    }
  ],
  "connections": {
    "Every day 23:00": {
      "main": [
        [
          {
            "node": "Get Active Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Groups": {
      "main": [
        [
          {
            "node": "Loop Over Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Groups": {
      "main": [
        [
          {
            "node": "All Groups Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Today's Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Messages": {
      "main": [
        [
          {
            "node": "Build Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Transcript": {
      "main": [
        [
          {
            "node": "Any messages today?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any messages today?": {
      "main": [
        [
          {
            "node": "Summarize (LLM Chain)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Activity Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize (LLM Chain)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Summarize (LLM Chain)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Summarize (LLM Chain)": {
      "main": [
        [
          {
            "node": "Render Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Summary": {
      "main": [
        [
          {
            "node": "Send via go-wa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Activity Message": {
      "main": [
        [
          {
            "node": "Send via go-wa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via go-wa": {
      "main": [
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Summary": {
      "main": [
        [
          {
            "node": "Loop Over Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jakarta"
  },
  "pinData": {}
}