workflows/wag-chat-ingest.json
{
  "name": "WAG Chat — Ingest (webhook → Postgres)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wag-incoming",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "ig-webhook",
      "name": "go-wa Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "wag-incoming-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Map go-wa webhook payload -> flat columns. Field names vary between go-wa\n// versions; adjust the fallbacks if needed. Full payload kept in `raw`.\nconst p = $json.body ?? $json;\n\nconst chat_jid =\n  p.chat_id || p.chatId ||\n  (typeof p.from === 'string' && p.from.includes('@g.us') ? p.from : '') || '';\nconst sender_jid = p.sender_id || p.senderId || p.from || '';\nconst sender_name = p.pushname || p.push_name || p.sender_name || 'Unknown';\n\nlet media_type = null;\nif (p.image) media_type = 'image';\nelse if (p.video) media_type = 'video';\nelse if (p.audio) media_type = 'audio';\nelse if (p.document) media_type = 'document';\nelse if (p.sticker) media_type = 'sticker';\nelse if (p.location) media_type = 'location';\n\nconst caption =\n  (p.image && p.image.caption) || (p.video && p.video.caption) ||\n  (p.document && p.document.caption) || '';\nconst text = (p.message && (p.message.text ?? p.message.conversation)) || p.text || caption || '';\nconst message = media_type && !text ? '[' + media_type + ']' : text;\n\nconst message_id = (p.message && p.message.id) || p.id || null;\nconst ts = p.timestamp ? new Date(p.timestamp).toISOString() : new Date().toISOString();\n\nreturn [{ json: {\n  message_id: message_id || null,\n  chat_jid, sender_jid, sender_name, message, media_type,\n  is_group: String(chat_jid).endsWith('@g.us'),\n  timestamp: ts,\n  raw: JSON.stringify(p),\n} }];"
      },
      "id": "ig-normalize",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c-grp",
              "leftValue": "={{ $json.is_group }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "c-msg",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ig-if",
      "name": "Group message with text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO wag_messages\n  (message_id, chat_jid, sender_jid, sender_name, message, media_type, is_group, \"timestamp\", raw)\nVALUES ($1,$2,$3,$4,$5,$6,$7,$8,$9)\nON CONFLICT (message_id) DO NOTHING",
        "options": {
          "queryReplacement": "={{ [ $json.message_id, $json.chat_jid, $json.sender_jid, $json.sender_name, $json.message, $json.media_type, $json.is_group, $json.timestamp, $json.raw ] }}"
        }
      },
      "id": "ig-insert",
      "name": "Upsert Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        680,
        -40
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_CRED_ID",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "go-wa Webhook": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Group message with text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group message with text?": {
      "main": [
        [
          {
            "node": "Upsert Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jakarta"
  },
  "pinData": {}
}